{% load static %}
{% load vite_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vite App</title>
        {% if debug %}
            <!-- If you're using vite with React, this next script will be needed for HMR -->
            <script type="module"
                    src="http://localhost:5173/static/react/@vitejs/plugin-react"></script>
            <script type="module">
            import RefreshRuntime from "http://localhost:5173/static/react/@react-refresh";
            if (RefreshRuntime) {
                RefreshRuntime.injectIntoGlobalHook(window);
                window.$RefreshReg$ = () => {};
                window.$RefreshSig$ = () => (type) => type;
                window.__vite_plugin_react_preamble_installed__ = true;
            }
            </script>
            <script type="module" src="http://localhost:5173/static/react/@vite/client"></script>
        {% endif %}
    </head>
    <body>
        <div id="root"></div>
        {% if debug %}
            <!-- This url will be different for each type of app. Point it to your main js file. -->
            <script type="module" src="http://localhost:5173/static/react/main.jsx"></script>
        {% else %}
            {% render_vite_bundle %}
        {% endif %}
    </body>
</html>
